* {
	box-sizing: border-box;
	transition: all 0.2s linear;
	--white: #fff9f4;
	--black: #210123;
	--theme: #71cbc4;
	--primary: #f2cc67;
	--secondary: #e8608c;
	--tertiary: #a6f6af;
	--quaternary: #7f135f;
}

body {
	font-weight: 400;
	font-style: normal;
	font-family: "Roboto", sans-serif;
	color: var(--black);
	background-color: var(--theme);
}

h1#app-title {
	width: fit-content;
	line-height: 2.3rem;
	font-size: 3rem;
	font-weight: 400;
	font-style: normal;
	font-family: "Modak", system-ui;
	color: var(--primary);
	background-color: initial;
	-webkit-text-stroke: 3px var(--secondary);
}

h1#app-title.logo {
	width: 200px;
	line-height: 2.1rem;
	font-size: 2.6rem;
}

@media (min-width: 400px) {
	h1#app-title.logo {
		font-size: 3rem;
		line-height: 2.3rem;
	}
}

@media (max-width: 800px) {
	h1#app-title {
		line-height: 2.1rem;
		font-size: 2.6rem;
	}
}

@media (max-width: 650px) {
	h1#app-title {
		width: 200px;
		line-height: 1.6rem;
		font-size: 2.1rem;
	}
}
