@import url("./common/app-title.css");
@import url("./common/header.css");
@import url("./common/alert.css");
@import url("./common/form.css");
@import url("./common/button.css");
@import url("./common/select-rooms.css");

* {
	box-sizing: border-box;
	transition: all 0.2s linear;
	--white: #fff9f4;
	--black: #210123;
	--theme: #71cbc4;
	--primary: #f2cc67;
	--secondary: #e8608c;
	--tertiary: #a6f6af;
	--quaternary: #7f135f;
}

body {
	font-weight: 400;
	font-style: normal;
	font-family: "Roboto", sans-serif;
	color: var(--black);
	background-color: var(--theme);
}

main {
	padding: 2rem 2rem 5rem;
}

a {
	width: max-content;
	text-decoration: none;
	padding: 0 1px;
	margin: 0 0.3rem;
	font-size: 1rem;
	color: var(--black);
	border-bottom: 1px solid var(--theme);
}

a:hover {
	font-weight: 500;
	color: var(--theme);
	border-bottom: 1.8px solid var(--black);
}

@media (max-width: 400px) {
	a {
		font-size: 0.9rem;
		margin: 0.2rem 0.3rem;
	}

	a:hover {
		border-bottom-width: 1px;
	}

	main {
		padding: 2rem 1rem 5rem;
	}
}
